<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Advance Search</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/members/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header *ngIf="filteredChildren.length > 0" style="position: sticky; top: 0; z-index: 999;">
    <ion-toolbar >
       &nbsp;&nbsp; <ion-button size="small" (click)="createAndWriteCSV()" [disabled]="filteredChildren.length === 0">Print</ion-button>
       <ion-button  slot="end" (click)="clearSearch()" [disabled]="filteredChildren.length === 0">
        Clear Search Results
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <!-- Add the search form -->
  <div [hidden]="filteredChildren.length > 0">
    <ion-card>
      <ion-card-content>
        <form (ngSubmit)="searchChildren()">
          <!-- Child Name -->
          <ion-item>
            <ion-label position="stacked">Child Name</ion-label>
            <ion-input type="text" name="childName" [(ngModel)]="searchCriteria.childName" placeholder="Child Name">
            </ion-input>
          </ion-item>

          <!-- School -->
          <ion-item>
            <ion-label position="stacked">School</ion-label>
            <ion-select name="school" [(ngModel)]="searchCriteria.school" placeholder="Select School">
              <ion-select-option *ngFor="let school of schools" [value]="school.name">
                {{ school.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <!-- Branch -->
          <ion-item>
            <ion-label position="stacked">School Area</ion-label>
            <ion-input type="text" name="branch" [(ngModel)]="searchCriteria.branch" placeholder="Area"></ion-input>
          </ion-item>

          <!-- From Date -->
          
              <ion-item>
                <ion-label position="floating">Dob from Date</ion-label>
                <ion-input type="date" name="fromDate" [(ngModel)]="searchCriteria.fromDate">
                </ion-input>
              </ion-item>
              <!-- To Date -->
              <ion-item>
                <ion-label position="floating">Dob to Date</ion-label>
                <ion-input type="date" name="toDate" [(ngModel)]="searchCriteria.toDate">
                </ion-input>
              </ion-item>
            

          <!-- Chickenpox Missed -->
          <ion-item lines="full">
            <ion-label>Chickenpox Missed</ion-label>
            <ion-checkbox name="chickenpoxMissed" [ngModel]="searchCriteria.chickenpoxMissed !== ''"
              (ngModelChange)="searchCriteria.chickenpoxMissed = $event ? 'Missed' : ''"></ion-checkbox>
          </ion-item>

          <!-- Hepatitis A Missed -->
          <ion-item lines="full">
            <ion-label>Hepatitis A Missed</ion-label>
            <ion-checkbox name="hepatitisAMissed" [ngModel]="searchCriteria.hepatitisAMissed !== ''"
              (ngModelChange)="searchCriteria.hepatitisAMissed = $event ? 'Missed' : ''"></ion-checkbox>
          </ion-item>

          <!-- MMR -->
              <ion-item>
                <ion-label>MMR Given</ion-label>
                <ion-checkbox name="mmrGiven" [ngModel]="searchCriteria.mmrGiven === 'Given'"
                  (ngModelChange)="searchCriteria.mmrGiven = $event ? 'Given' : ''"></ion-checkbox>
              </ion-item>
 
              <ion-item>
                <ion-label>MMR Missed</ion-label>
                <ion-checkbox name="mmrMissed" [ngModel]="searchCriteria.mmrMissed === 'Missed'"
                  (ngModelChange)="searchCriteria.mmrMissed = $event ? 'Missed' : ''"></ion-checkbox>
              </ion-item>

          <!-- Meningitis Missed -->
          <ion-item lines="full">
            <ion-label>Meningitis Missed</ion-label>
            <ion-checkbox name="meningitisMissed" [ngModel]="searchCriteria.meningitisMissed !== ''"
              (ngModelChange)="searchCriteria.meningitisMissed = $event ? 'Missed' : ''"></ion-checkbox>
          </ion-item>

          <!-- Typhoid Missed -->
          <ion-item lines="full">
            <ion-label>Typhoid Missed</ion-label>
            <ion-checkbox name="typhoidMissed" [ngModel]="searchCriteria.typhoidMissed !== ''"
              (ngModelChange)="searchCriteria.typhoidMissed = $event ? 'Missed' : ''"></ion-checkbox>
          </ion-item>

          <!-- EpiStatus Missed -->
          <ion-item lines="full">
            <ion-label>EpiStatus Missed</ion-label>
            <ion-checkbox name="epiStatusMissed" [ngModel]="searchCriteria.epiStatusMissed !== ''"
              (ngModelChange)="searchCriteria.epiStatusMissed = $event ? 'Missed' : ''"></ion-checkbox>
          </ion-item>


          <!-- Submit Button -->
          <ion-button expand="full" type="submit">Search</ion-button>
        </form>

        <ion-card *ngIf="noChildFoundCard">
          <ion-card-content class="ion-text-center">
            <ion-card-title>No children found.</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Display filtered children -->
  <ng-container *ngIf="filteredChildren.length > 0;">
    <ion-card *ngFor="let child of filteredChildren">
      <ion-card-header style="text-align: center;">
        <ion-card-title>{{ child.childName }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>Father: {{ child.fatherName }}</ion-item>
        <ion-item>Mother: {{ child.motherName }}</ion-item>
        <ion-item>Date of Birth: {{ child.dateOfBirth | date: 'longDate' }}</ion-item>
        <ion-item>Email: {{ child.email }}</ion-item>
        <ion-item>WhatsApp#: {{ child.whatsappNumber }}</ion-item>
        <div style="display:flex; justify-content: space-between; margin-top: 10px;">

          <ion-button size="small" [routerLink]="'/past_visits/' + child.id">Past visits</ion-button>
          <ion-button size="small" [routerLink]="'/current_visit/' + child.id">Current visit</ion-button>
          <!-- <ion-button size="small"  (click)="onDownload(child)"> &nbsp;Print&nbsp; </ion-button> -->
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>


</ion-content>
